[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gspread = "*"
pandas = "*"
gspread-dataframe = "*"
oauth2client = "*"
django = "*"
pillow = "*"
python-dotenv = "*"
airtable-python-wrapper = "*"
awsebcli = "*"
pipenv-to-requirements = "*"
gunicorn = "*"
dj-database-url = "*"
whitenoise = "*"
requests = "*"
virtualenv = "==20.0.31"
importlib-metadata = "==1.7.0"

[dev-packages]
flake8 = "*"
black = "*"
awsebcli = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
