[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gspread = "*"
pandas = "*"
gspread-dataframe = "*"
oauth2client = "*"
django = "*"
pillow = "*"
python-dotenv = "*"
airtable-python-wrapper = "*"
awsebcli = "*"
pipenv-to-requirements = "*"

[dev-packages]
flake8 = "*"
black = "*"
awsebcli = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
