[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gspread = "*"
pandas = "*"
gspread-dataframe = "*"
oauth2client = "*"
django = "*"
pillow = "*"
python-dotenv = "*"
airtable-python-wrapper = "*"
gunicorn = "*"
whitenoise = "*"
django-heroku = "*"

[dev-packages]
flake8 = "*"
black = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
