{% load static %}

<ul class="flex mx-4 justify-between w-screen items-center text-sm font-bold">
	{% if user.is_authenticated %}
	<div class="dropdown">
		<a href="{% url 'core:home' %}" class="flex items-center">
		<div><img class="w-6" src="{% static 'img/logo.png' %}" /></div>
		<div>Hanpel</div>
		</a>
	</div>
	
	<div class="dropdown">
				<div class="px-1 no-underline hover:underline">이슈</div>
				<div class="dropdown-content border-blue-500">
					<a href="{% url 'core:home' %}">HOME</a>
					<a href="{% url 'issues:tlmeeting' %}">팀장 회의</a>
					<a href="{% url 'issues:myissue' %}">진행중</a>
					<a href="{% url 'issues:mypage' %}">MY PAGE</a>
				</div>
	</div>

	<div class="dropdown">
				<div class="px-1 no-underline hover:underline">재고</div>
				<div class="dropdown-content">
					<a href="{% url 'stocks:stock_future' %}">재고예상</a>
					<a href="{% url 'stocks:stock_item' %}">아이템별</a>
					<a href="#">배합이력</a>
				</div>
	</div>
				
	<div class="dropdown">
				<div class="px-1 no-underline hover:underline">판매</div>
				<div class="dropdown-content">
					<a href="#"></a>
					<a href="#"></a>
					<a href="#"></a>
				</div>
	</div>

	<div class="dropdown">
				<div class="px-1 no-underline hover:underline">비용</div>
				<div class="dropdown-content">
					<a href="{% url 'cost:cost_update' %}">법카입력</a>
					<a href="{% url 'users:kakao_sending' %}">친구들</a>
					<a href="#"></a>
				</div>
	</div>	
	<div class="ml-1">
	
	<div class="flex mx-auto justify-between items-center">
	<img width="40px" class="border-1 border-black rounded-full mr-2" src="{{user.last_name}}" />
	<a class="h-full align-middle" href="{% url 'users:logout' %}">Log out</a>
	</div>
	</div>


	{% else %}
	<!-- <li><a href="{% url "users:login" %}">Log in</a></li> -->
	<li class="mx-8">{% include 'partials/social_login.html' %}</li>
	<!-- <li><a href="{% url "users:signup" %}">Sign up</a></li> -->
	{% endif %}
</ul>
