{% extends "base.html" %} {% load static %} 

{% block content %} 

<div class="flex flex-col justify-center">
    <div class="flex flex-col mb-12 ml-8">
    <span>첨부파일 :</span>
    {% for attach in attachments %}
        <a class="ml-4" href = {{attach}}> {{attach.0}}. {{attach.2}} /</a>
    {% endfor %}
    </div>

    <div class="flex mb-8 ml-8">
    <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ file_form }}
    <input class="border border-black bluebtn text-base py-0 px-2 mb-8" type="submit" value="추가">
    </form>
    </div>

    <div class="flex mb-8 ml-8">
    <span>몇 번째 파일을 삭제하시겠습니까?</span>
    <form method="get" action="{% url 'issues:attachments_del' %}">
    <input class="mx-2 border-b border-black" type="text" name="number" size="3">
    <input type="hidden" name="ID" value={{ID}}>
    <input class="border border-black bg-red-200 rounded px-2 text-base" type="submit" value="삭제">
    </form>
    </div>
</div>

{% endblock%}