{% extends "base.html" %} {% block content %} 

<div class="flex flex-col justify-center text-center">
<div class="my-8">
첨부파일 :
    {% for attach in attachments %}
        <a href = {{attach}}> {{attach.0}}. {{attach.2}} /</a>
    {% endfor %}
</div>
<div class="flex justify-center">
<span>몇 번째 파일을 삭제하시겠습니까?</span>
<form method="get" action="{% url 'issues:attachments_del' %}">
<input class="mx-2 border-b border-black" type="text" name="number" size="3">
<input type="hidden" name="ID" value={{ID}}>
<input class="border border-black bg-red-200 rounded px-2 text-base mb-8" type="submit" value="삭제">
</form>
</div>
</div>

{% endblock%}