{% extends "base.html" %} {% block content %} 

{% for issue in issues %}
{% endfor %} 

<h5>이슈 입력</h5><input type="text" name="issue" size="10">
<h5>거래처</h5><input type="text" name="customer" size="10">
<h5>첨부파일</h5><input type="text" name="customer" size="10">

<a href="?ID={{input}}"></a>

<form action="/" method="get">
하하하 : <input type="text" name="ID" size="10"><br>
<input type="submit"></form>
{{Name}}
<h5>
<iframe class="airtable-embed" src="https://airtable.com/embed/shrtKkBBKhPlgoUQd?backgroundColor=purple&viewControls=on" frameborder="0" onmousewheel="" width="100%" height="700" style="background: transparent; border: 1px solid #ccc;"></iframe>

    </h5>

</h5>
{% endblock content %}
