{% extends "base.html" %}

{% block page_title %}
    My Issue
{% endblock page_title %}

{% block content %} 

<div class="container w-screen mx-auto flex flex-col">
<form method="get" action="{% url 'issues:id_import' %}" id="edit">
</form>
<form method="get" action="{% url 'issues:id_comments' %}" id="comments">
</form>
    <form method="get" action="{% url 'issues:checkUncheck_issue' %}" id="recheck">
    <div class="flex flex-col border-3 border-b border-gray-500 mx-4">
    <span class="text-xl underline text-gray-700 font-extrabold">My Issue</span>
    {% for m in matches %}
    <span class="mt-8 text-sm">{{m.fields.날짜}} {{m.fields.작성자}} 
    <input type="checkbox" name="idon" value={{m.id}} checked>
    {% if name == m.fields.작성자 %}
    <button class="bluebtn py-0 px-1" name="ID" value={{m.fields.ID}} form="edit">수정</button>
    {% endif %}
    <button class="bluebtn bg-yellow-100 py-0 px-1" name="ID" value={{m.fields.ID}} form="comments">댓글달기</button>
    </span>
    <span class="my-2 text-sm">[{{m.fields.거래처}}] {{m.fields.내용}}</span>
    <div class="flex flex-col mb-4 text-sm">
        {% for a in m.fields.Attachments %}
            <a class="ml-2 italic underline" href={{a.url}}>{{a.filename}}</a>
        {% endfor %}
        {% if m.fields.comments %}
    <details class="text-blue-700 ml-2 mt-2">
        <summary>댓글 보기 ({{m.fields.length}})</summary>
            {% for c in m.fields.comments %}
                <div>{{c}}</div>
            {% endfor %}
    </details>
    {% endif %}
    </div>  
    {% endfor %}
    </div>

    <div class="flex flex-col border-3 border-b border-gray-500 mb-4 mx-4">
    <span class="text-xl underline text-gray-700 font-extrabold">Team Issue</span>
    {% for m in team_issues %}
    <span class="text-sm mt-8">{{m.fields.날짜}} {{m.fields.작성자}}
    <input type="checkbox" name="idon" value={{m.id}} checked>
    {% if name == m.fields.작성자 %}
    <button class="bluebtn py-0 px-1" name="ID" value={{m.fields.ID}} form="edit">수정</button>
    {% endif %}
    <button class="bluebtn bg-yellow-100 py-0 px-1" name="ID" value={{m.fields.ID}} form="comments">댓글달기</button>
    </span>
    </span>
    <span class="my-2 text-sm">[{{m.fields.거래처}}] {{m.fields.내용}}</span>
    <div class="flex mb-4 text-sm">
        {% for a in m.fiedls.Attachments %}
            <a href={{a.url}}>{{a.filename}}</a>
        {% endfor %}
        {% if m.fields.comments %}
    <details>
        <summary>댓글 보기 ({{m.fields.length}})</summary>
            {% for m in m.fields.comments %}
                <div>{{c}}</div>
            {% endfor %}
    </details>
    {% endif %}
    </div>  
    {% endfor %}
    </div>

    <div class="flex flex-col border-3 border-b border-gray-500 mb-4 mx-4">
    <span class="text-xl underline text-gray-700 font-extrabold">Total Issue</span>
    {{datas.0}}
    {% for m in datas %}
    
    <span class="text-sm mt-8">{{m.fields.날짜}} {{m.fields.작성자}}
    <input type="checkbox" name="idon" value={{m.id}} checked>
    {% if name == m.fields.작성자 %}
    <button class="bluebtn py-0 px-1" name="ID" value={{m.fields.ID}} form="edit">수정</button>
    {% endif %}
    <button class="bluebtn bg-yellow-100 py-0 px-1" name="ID" value={{m.fields.ID}} form="comments">댓글달기</button>
    </span>
    </span>
    <span class="my-2 text-sm">[{{m.fields.거래처}}] {{m.fields.내용}}</span>
    <div class="flex mb-4 text-sm">
        {% for a in m.fiedls.Attachments %}
            <a href={{a.url}}>{{a.filename}}</a>
        {% endfor %}
        {% if m.fields.comments %}
    <details>
        <summary>댓글 보기 ({{m.fields.length}})</summary>
            {% for c in m.fields.comments %}
                <div>{{c}}</div>
            {% endfor %}
    </details>
    {% endif %}
    </div>  
    {% endfor %}
    </div>
    </form>
    <div class="ml-4">
    <input class="bluebtn px-2 mb-8" type="submit" value="해제" class="submit" form="recheck" />
    </div>
</div>
{% endblock content %}

