{% extends "base.html" %} {% load static %} 

{% block page_title %}
    Cost Update
{% endblock page_title %}

{% block content %}
<form method="get">
<div class="container lg:w-5/12 mx-auto">
  <div class="flex flex-col text-center text-3xl h-1/2 mt-32">
	<span class="font-bold mb-8">법카입력</span>
        <div class="text-xl flex flex-col">
        <div><span>금  액</span>
        <input class="border-b border-gray-400 w-2/4 mx-8" type="number" name="amount" placeholder="숫자만 입력 가능" />
        </div>
        <div class="my-8">
        <span>내  용</span>
        <input class="border-b border-gray-400 w-2/4 mx-8" type="text" name="detail" />
        </div>
        <div>
        <span>구  분</span>
        <select class="bg-white border-b border-gray-400 w-2/4 mx-8" id="company" name="company">
          <option value="(주)한펠">(주)한펠</option>
          <option value="(주)허니텍">(주)허니텍</option>
        </select>
        </div>
        </div>
        <div class="text-center mx-8 mt-8 mb-8 text-sm">
	<input class="bluebtn px-2" type="submit" value="입 력" class="submit" />
	</div>
  </div>
</form>

{% endblock content %}
